{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$head}}
  {{>elements_head}}
{{/head}}

{{$afterHeader}}
  {{>alpha_banner}}
{{/afterHeader}}

{{$content}}
<main id="content" role="main">
  <header class="page-header">
    <h1>Land Registry alpha prototype</h1>
  </header>

  <section class="inner-block">
    <div class="text">
      <h2 class="heading-36">Introduction</h2>
      <p class="lede">This is a place where we iterate wildly.</p>
      <p>A bit about how these are html design prototypes which are for user research. They feed into the application we're building at xxxx.xxxxx.xxxx</p>
      <p>This page acts as an index to the various prototypes and ideas we’re having.</p>
    </div>
  </section>

  <section class="inner-block">
    <div class="text">
      <h2 class="heading-24">Sprint 1:</h2>
      <p>How does a title register appear? Which elements are useful? Which are unneccessary?</p>
      <ul class="list-bullet">
        <li><a href="/sprint-1/sprint-1-index">Title</a></li>
      </ul>
    </div>
  </section>

  <section class="inner-block">
    <div class="text">
      <h2 class="heading-19">Basic template examples and demos</h2>
      <ul>
        <li><a href="/examples/alpha">Alpha page layout</a></li>
        <li><a href="/examples/elements/forms">GOV.UK elements form examples</a></li>
        <li><a href="/examples/elements/grid-layout">GOV.UK elements grid</a></li>
        <li><a href="/examples/elements/typography">GOV.UK elements typography</a></li>
        <li><a href="/examples/template-partial-areas">Template partial areas</a></li>
      </ul>
    </div>
  </section>

</main>
{{/content}}

{{/layout}}
