{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$head}}
  {{>elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">
  <header class="page-header">
    <h1>Land Registry alpha prototype</h1>
  </header>

  <div class="grid-wrapper">
    <div class="grid">
      <section class="inner-block">
        <h2>Sprint 1:</h2>
        <ul>
          <li><a href="/sprint-1">Thing</a></li>
        </ul>
      </section>
    </div>
  </div>

  <div class="grid-wrapper">
    <div class="grid">
      <section class="inner-block">
        <h2>Examples</h2>
        <ul>
          <li><a href="/examples/alpha">Alpha page layout</a></li>
          <li><a href="/examples/elements/forms">GOV.UK elements form examples</a></li>
          <li><a href="/examples/elements/grid-layout">GOV.UK elements grid</a></li>
          <li><a href="/examples/elements/typography">GOV.UK elements typography</a></li>
          <li><a href="/examples/template-partial-areas">Template partial areas</a></li>
        </ul>
      </section>
    </div>
  </div>

</main>
{{/content}}

{{/layout}}
